<div class="container">
  <p class="head">Sign in</p>
  <form novalidate [formGroup]="logIn" (ngSubmit)="onLogin()">

    <!-- Error massage 'Incorrect password or username' -->
    <div class="incorrect-data" *ngIf="isIncorrectPassOrMail">Incorrect password or username</div>

    <div class="input">

      <!-- Password emil -->
      <div class="fromGroup">
        <input type="email" class="form-control" placeholder="Email" formControlName="email"
          [ngClass]="GetValidationClass('email')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.email.errors?.required"> Email is required</div>
          <div *ngIf="!isIncorrectPassOrMail && fc.email.errors?.email">Please enter a valid email. Example
            example@mail.com</div>
        </div>
      </div>

      <!-- Password input -->
      <div class="fromGroup">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
          [ngClass]="GetValidationClass('password')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.password.errors?.required">Password is required</div>
          <div *ngIf="fc.password.errors?.minlength">Password must be at least 8 characters long</div>
        </div>
      </div>

    </div>

    <!-- Button submit -->
    <div class="btn">
      <button id="btn" type="submit" class="btn btn-primary">Enter</button> </div>
  </form>
</div>
