<div class="menu-contain">
  <img class="logo" src="./assets/logo.png" alt="logo">
  <nav>
    <ul class="clean-least">
      <li>
        <a class="link" routerLink="/profile" routerLinkActive="activity"
          [routerLinkActiveOptions]="{ exact: true }">Profile</a>
      </li>
      <li>
        <a class="link" routerLink="/projects" routerLinkActive="activity"
          [routerLinkActiveOptions]="{ exact: true }">My project</a>
      </li>
      <li>
        <a class="link" routerLink="/tasks" routerLinkActive="activity" [routerLinkActiveOptions]="{ exact: true }">My
          tasks</a>
      </li>
      <li>
        <a class="link" routerLink="createproject" routerLinkActive="activity"
          [routerLinkActiveOptions]="{ exact: true }">Create
          project</a>
      </li>
    </ul>
  </nav>
</div>
