.menu-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  width: 200px;
  height: 100vh;
  /* background-color: #751049; */
  /* background-color: #292f4c; */
  background-color: var(--bgc-menu);
  color: #ffffff;
}

a {
  display: flex;
  justify-content: center;
}

.logo {
  width: 85%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  height: 100%;
  font-size: 16px;
}

ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
li {
  width: 100%;
  text-align: center;
}

.link {
  width: 100%;
  color: #ffffff;
  font-weight: bold;
}

li:not(:last-child) {
  margin-bottom: 1.25em;
}

/* Route */
.link.activity {
  color: goldenrod;
}

.profile-btn {
  outline: none;
  width: 105px;
  height: 105px;
  border: none;
  border-radius: 100%;
  background: #f5f5f5;
  border: 2px solid #bcbcbc;
  padding: 0;
  margin: 0;
}

.profile-btn img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 1px;
}

.dropdown-item {
  font-weight: 600;
}
