.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 30px 10px 10px;
  height: auto;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/homePageImg.jpg");
}

.container-login {
  width: 500px;
  max-width: 100%;
  background-color: #101015b3;
  border-radius: 5px;
  padding: 20px;
}
