<div class="container">

  <div></div>
  <div>
    <img src="../../../assets/banner" alt="">
  </div>

  <div></div>

  <div></div>

  <form novalidate [formGroup]="logIn" (ngSubmit)="onLogin()">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Username">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Password">
    </div>

    <input class="btn btn-primary" type="button" value="Enter">

  </form>


</div>
