<div class="container">

    <div></div>
    <div>
        <img src="../../../assets/banner" alt="">
    </div>

    <div></div>

    <div></div>

    <form>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Username">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>

        <input class="btn btn-primary" type="button" value="Enter">

    </form>


</div>
