<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 *ngIf="!currentTask" class="modal-title">New task</h4>
        <h4 *ngIf="currentTask" class="modal-title">Edit task</h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-task-form></app-task-form>
    </div>
  </div>
</div>