<div class="layout-main">
  <app-menu-login></app-menu-login>

  <div class="container">

    <h1>Title</h1>
    <div class="tables">
      <div class="table-contain">
        <table class="table">
          <thead>
            <th>Tasks</th>
          </thead>
          <tbody>
            <tr>
              <td>TODO 1</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>
            <tr>
              <td>TODO 3</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="table-contain">
        <table class="table">
          <thead>
            <th>Daily tasks</th>
          </thead>
          <tbody>
            <tr>
              <td>TODO 1</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>
            <tr>
              <td>TODO 3</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-contain">
        <table class="table">
          <thead>
            <th>Team</th>
          </thead>
          <tbody>
            <tr>
              <td> lior</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>
            <tr>
              <td>TODO 2</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>


</div>
