<td>
  <div class="task-details-contain">
    <div class="name-task">ios V1</div>
  </div>
</td>
<td>
  <button class="btn-task-notes">
    <img src="./assets/chat-dots.svg" />
  </button>
</td>
<td>analytics</td>
<td>
  <div class="status-drop dropdown">
    <button class="btn-drop status-waiting" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" data-offset="-11,0">
      Waiting for response
    </button>
    <div class="dropdown-menu status-drop-menu">
      <button class="dropdown-item status-release" type="button">Releases</button>
      <button class="dropdown-item status-approved" type="button">Approved</button>
      <button class="dropdown-item status-rejected" type="button">Rejected</button>
      <button class="dropdown-item status-tested" type="button">Tested</button>
      <button class="dropdown-item status-submitted" type="button">Submitted</button>
    </div>
  </div>
</td>
<td>
  <div class="status-drop dropdown">
    <button class="btn-drop priority-high" type="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" data-offset="-11,0">
      High
    </button>
    <div class="dropdown-menu status-drop-menu">
      <button class="dropdown-item priority-high " type="button">High</button>
      <button class="dropdown-item priority-medium" type="button">Medium</button>
      <button class="dropdown-item priority-low" type="button">Low</button>
    </div>
  </div>
</td>
<td>Tody</td>
<td>10, Apr, 2019</td>
