<main class="container">
  <div class="h1">Join us</div>
  <form novalidate [formGroup]="signUp" (ngSubmit)="onSignUp()">
    <div class="form-group">
      <input type="email" class="form-control" [ngClass]="GetValidationClass('email')" placeholder="Email"
        formControlName="email" required />

      <div class="invalid-feedback">
        <div *ngIf="fc.email.errors?.required"> Please enter an email</div>
        <div *ngIf="fc.email.errors?.email || fc.email.errors?.pattern">Please enter a valid email. Example
          example@mail.com</div>
      </div>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [ngClass]="GetValidationClass('title')" placeholder="What is your job?"
        formControlName="title" required />

      <div class="invalid-feedback">
        <div *ngIf="fc.title.errors?.required"> Please write what is your job</div>
      </div>
    </div>


    <div class="form-group form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" formControlName="fName"
          [ngClass]="GetValidationClass('fName')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.fName.errors?.required">Please enter a first name</div>
          <div *ngIf="fc.fName.errors?.pattern">Please enter a valid first name</div>
        </div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" formControlName="lName"
          [ngClass]="GetValidationClass('lName')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.lName.errors?.required">Please enter an last name</div>
          <ng-template #inValidlName>
            Please enter a valid last name.
          </ng-template>
        </div>
      </div>
    </div>

    <div class="form-group form-row">
      <div class="col">
        <input type="password" class="form-control" placeholder="Password" formControlName="password"
          [ngClass]="GetValidationClass('password')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.password.errors?.required">Please enter a password</div>
          <div *ngIf="fc.password.errors?.minLength">Password must be at least 8 characters long</div>
        </div>
      </div>

      <div class="col">
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="passconfrim"
          [ngClass]="GetValidationClass('passconfrim')" />

        <div class="invalid-feedback">
          <div *ngIf="fc.passconfrim.errors?.required">Please enter a confirm password</div>
          <div *ngIf="fc.passconfrim.errors?.confirmedValidator">Password and Confirm Password must be match</div>
        </div>
      </div>

    </div>

    <div class="form-group form-row">
      <div class="col text-center">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>
    </div>
  </form>
</main>
