<form [formGroup]="passwordForm" (ngSubmit)="onChange()">
  <fieldset class="p-2">
    <legend>Change password</legend>

    <div class="form-group">
      <label for="oldPass">Your old password</label>
      <input type="password" class="form-control" id="oldPass" placeholder="Enter your password"
        formControlName="oldPass" [ngClass]="GetValidationClass('oldPass')" [class.is-invalid]="incorrectPassMsg">

      <div class=" invalid-feedback">
        <div *ngIf="fc.oldPass.errors?.required">Your password is required</div>
        <div *ngIf="incorrectPassMsg">{{incorrectPassMsg}}</div>
      </div>
    </div>

    <div class="form-group">
      <label for="newPass">Password</label>
      <input type="password" class="form-control" id="newPass" placeholder="Enter new password"
        formControlName="newPass" [ngClass]="GetValidationClass('newPass')">

      <div class="invalid-feedback">
        <div *ngIf="fc.newPass.errors?.required"> Please enter new password </div>
        <div *ngIf="fc.newPass.errors?.minlength">Password must be at least 8 characters long</div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPass">Password confirm</label>
      <input type="password" class="form-control" id="confirmPass" placeholder="Enter again new password"
        formControlName="confirmPass" [ngClass]="GetValidationClass('confirmPass')">

      <div class="invalid-feedback">
        <div *ngIf="fc.confirmPass.errors?.required"> Please enter new password again </div>
        <div *ngIf="fc.confirmPass.errors?.confirmedValidator"> Passwords must be match</div>
      </div>
    </div>

    <div>
      <button class="btn btn-success" type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">Change</span>
        <span *ngIf="isLoading">
          <div class="spinner-border spinner-border-sm" role="status"></div>
          <span> Loading...</span>
        </span>
      </button>
    </div>
  </fieldset>
</form>
