label {
  font-weight: bold;
}

label::after {
  content: ":";
}

legend {
  display: inline;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 5px;
  font-size: 1.2em;
  font-weight: bold;
}

fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
}
