td {
  font-weight: bold;
  vertical-align: middle;
}
.task-details-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.task-details-contain div {
  padding: 10px;
}
.task-details-contain div:not(:last-child) {
  margin-inline-end: 5px;
}

.btn-drop {
  font-weight: bold;
  white-space: normal;
  font-size: 0.8rem;
  width: 7em;
  height: 3.5em;
  border-radius: 5px;
}

.dropdown-menu {
  font-size: 0.8rem;
  width: 8.7em;
  min-width: 8.7em;
  padding: 0;
  border-radius: 5px;
  padding: 10px;
}
.dropdown-item {
  text-align: center;
  padding: 0;
  white-space: normal;
  font-weight: bold;
  border-radius: 5px;
  height: 3.5em;
}

.dropdown-item:not(:last-child) {
  margin-bottom: 3px;
}

/* Statuses */
.status-release {
  background-color: var(--status--release);
}
.status-waiting {
  background-color: var(--status-waiting);
}
.status-approved {
  background-color: var(--status-approved);
}
.status-rejected {
  background-color: var(--status-rejected);
  color: #ffffff;
}
.status-tested {
  background-color: var(--status-tested);
}
.status-submitted {
  background-color: var(--status-submitted);
}

/* priorities */
.priority-high {
  background-color: var(--priority-high);
}
.priority-medium {
  background-color: var(--priority-medium);
}
.priority-low {
  background-color: var(--priority-low);
}
