<div class="layout-main">
  <app-menu-login></app-menu-login>
  <div class="main-contain">

    <div class="container">
      <h1 class="h1">Reset Password</h1>
      <div class="card text-center">
        <div class="card-header">
          <h2 class="card-title">Enter new password for your account</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="newPass">New password</label>
              <input type="text" id="newPass" class="form-control" placeholder="Enter new password">
            </div>

            <div class="form-group">
              <label for="confrimPass">Confirm password</label>
              <input type="text" id="confrimPass" class="form-control" placeholder="Enter password again">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
