<div class="layout-main">
  <app-menu-login></app-menu-login>
  <div class="container">
    <h1>Setting</h1>

    <form>
      <div class="form-group">
        <label for="imgProfile">Image profile</label>
        <input type="file" class="form-control-file" id="imgProfile">
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group col">
          <label for="lastName">Last name</label>
          <input type="text" class="form-control" id="lastName">
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group col">
          <label for="passwordConfirm">Password confirm</label>
          <input type="password" class="form-control" id="passwordConfirm">
        </div>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" id="phone">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        <div class="col">
          <a class="btn btn-warning" href="/profile">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
