<div class="modal fade" id="delProjectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="errMsg" class="alert alert-danger">
            Delete project failed, please try again.
          </div>
          <p>To delete the project "{{project.title}}", type the name to confirm.</p>
          <form>
            <div class="form-group">
          <input type="text" name="inputProjectName" class="form-control" placeholder="Enter project name" [(ngModel)]="inputProjectName" (ngModelChange)="onInputChage()"/>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-danger mr-2" [disabled]="isBtnDelDisabled" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
        </form>
        </div>
      </div>
    </div>
</div>